<div class="types">
    <div>
        <h2>平台</h2>
        <div class="t">
            <a ng-repeat="pla in $root.topData.platforms"
               ui-sref="room({page:1, platformName: pla.name})"
               ui-sref-opts="{reload: true, inherit: true}"
               ng-class="{selected: pla.name == $stateParams.platformName}">
                <span class="ellipsis">{{pla.name}}</span>
                <span class="min ellipsis"><i class="fa fa-child"></i>{{pla.onLineAd | wanNum}}</span>
                <span class="min ellipsis"><i class="fa fa-home"></i>{{pla.onLineRoom | wanNum}}</span>
            </a>
        </div>
    </div>

    <div>
        <h2>分类</h2>
        <div class="t">
            <a ng-repeat="t in $root.topData.types"
               ui-sref="room({page:1, tag: t.name})"
               ui-sref-opts="{reload: true, inherit: true}"
               ng-class="{selected: t.name == $stateParams.tag}">
                <span class="ellipsis">{{t.name}}</span>
                <span class="min ellipsis"><i class="fa fa-child"></i>{{t.adSum | wanNum}}</span>
                <span class="min ellipsis"><i class="fa fa-home"></i>{{t.roomCount | wanNum}}</span>
            </a>
        </div>
    </div>
</div>