<div class="body">
    <h3 ng-if="rooms" class="show-tit" ng-show="!rooms.length">米有找到相应的房间...</h3>
    <a ng-repeat="room in rooms"
       repeat-finish
       class="room trans2"
       ng-click="openRoom(room)"
       ng-href="{{room.href}}"
       ng-style="roomSize">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="width:70%;"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="photo"  ng-style="{height: roomSize.height - 50}">
                    <img ng-src="{{room.img}}"/>
                    <span class="pla-name">{{room.platform.name}}</span>
                    <i class="fa fa-play-circle play" ng-class="{insert: isInsert(room.platform.flag)}"></i>
                </td>
            </tr>
            <tr class="top">
                <td class="ellipsis title">{{room.name}}</td>
                <td class="t-r ellipsis tag">{{room.tag}}</td>
            </tr>
            <tr class="bottom">
                <td class="ellipsis anchor">
                    <i title="关注" roomId="{{room.id}}"
                       ng-click="$root.changeCollect($event, room);$event.stopPropagation();"
                       ng-class="{'fa-heart': $root.collectMap[room.id], 'fa-heart-o': !$root.collectMap[room.id]}"
                       class="fa heart"></i>{{room.anchor}}
                </td>
                <td class="t-r ellipsis num"><i class="fa fa-child"></i>{{room.adNum | wanNum}}</td>
            </tr>
        </table>
    </a>
    <div ng-if="paginate" t-paginate="paginate"></div>
    <div class="icp" ng-show="rooms"><a href="mailto:ty_bt@live.cn">ty_bt@live.cn</a> &copy;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备16023346号-1</a></div>
</div>
<div ui-view class="detail-view"></div>
