<div class="body">
    <a ng-repeat="room in rooms"
       repeat-finish
       class="room trans2"
       target="{{room.quoteUrl ? '_self' : '_blank'}}"
       ng-href="{{room.href}}"
       ng-click="openRoom(room, $event)"
       ng-style="roomSize">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="width:70%;"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="photo"  ng-style="{height: roomSize.height - 50}">
                    <img ng-src="{{room.img}}"/>
                    <span class="pla-name">{{room.platform.name}}</span>
                    <i class="fa fa-play-circle play" ng-class="{insert: room.quoteUrl}"></i>
                </td>
            </tr>
            <tr class="top">
                <td class="ellipsis title">{{room.name}}</td>
                <td class="t-r ellipsis tag">{{room.tag}}</td>
            </tr>
            <tr class="bottom">
                <td class="ellipsis anchor">{{room.anchor}}</td>
                <td class="t-r ellipsis num">{{room.adNum | wanNum}}</td>
            </tr>
        </table>
    </a>
    <div ng-if="paginate" t-paginate="paginate"></div>
</div>
<div ui-view></div>
