<!--所有房间列表-->
<div class="r-detail">
    <!-- 背景 -->
    <img ng-src="{{curRoom.img}}" class="back-img filter-blur" />
    <!-- 内容 -->
    <div class="d-content" ng-show="curRoom.quoteUrl">
        <div class="top">
            <i class="fa fa-close" title="关闭" ng-click="$state.go('^')"></i>
        </div>
        <div class="cen">

            <h3 class="ellipsis">{{curRoom.name}}<span><i class="fa fa-child"></i>{{curRoom.adNum | wanNum}}</span></h3>

            <div class="embed-div">

            </div>
            <div class="bottom">
                <a ><i title="关注" roomId="{{room.id}}"
                       ng-click="$root.changeCollect($event, curRoom);$event.stopPropagation();"
                       ng-class="{'fa-heart': $root.collectMap[curRoom.id], 'fa-heart-o': !$root.collectMap[curRoom.id]}"
                       class="fa heart"></i>{{curRoom.anchor}}</a>
                <a class="right" target="_blank" href="{{curRoom.url}}"><i class="fa fa-level-up"></i>跳转到{{curRoom.platform.name}}观看</a>
            </div>
        </div>

    </div>

    <div class="d-content-i" ng-show="!curRoom.quoteUrl">
        <i title="关注" roomId="{{room.id}}"
               ng-click="$root.changeCollect($event, curRoom);$event.stopPropagation();"
               ng-class="{'fa-heart': $root.collectMap[curRoom.id], 'fa-heart-o': !$root.collectMap[curRoom.id]}"
               class="fa heart"></i>
        <i class="fa fa-close" title="关闭" ng-click="$state.go('^')"></i>
        <a class="fa fa-level-up" target="_blank" title="新窗口打开{{curRoom.platform.name}}观看" href="{{curRoom.url}}"></a>

        <iframe style="width:100%; height:100%; border:none;"></iframe>
    </div>
</div>