@charset "UTF-8";
body{font-size: 12px; font-family: '微软雅黑';}
a{text-decoration: none; color: #313131}

.table{display: table; table-layout: fixed; width: 100%;}
.table>div{display: table-cell; vertical-align: top}

.t-r{text-align: right}
.clear{clear: both;}

/* 过渡效果 */
.trans, .trans *{transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
.trans2, .trans2 *{transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s;}

/* 超出隐藏 */
.ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;word-break: keep-all;}

.filter-blur{-webkit-filter: blur(5px); -moz-filter: blur(5px); -ms-filter: blur(5px); -o-filter: blur(5px); filter: blur(5px); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);}

/* 首页 */
.main{background: #F2F2F2}
.head{height: 50px;overflow: hidden;/* font-size: 27px; *//* font-weight: bold; */padding-left: 10px;line-height: 50px;background: #3498db;color: #fff;/* border-bottom: 1px solid #000; */}
.main .body{/* padding-left: 10px; */overflow-y: auto;/* display: none; */height: 100%;}
.main .content>div{height:100%;overflow:hidden;}
.main .content>.left{width: 245px;background: #2980b9;color: #fff;}
.main .content>.left h1{margin: 0;padding: 0;line-height: 50px;background: #2980b9;color: #fff;padding-right: 20px;text-align: right;}
.main .content .right-o{float: right; height: 40px; overflow: hidden; text-align: right}
.main .content .m-view{position: relative}

.top-menu{float: left;}
.top-menu a{
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 15px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
    line-height: normal;
}
.top-menu a:hover{background: #2980b9;/* color: #fff; */}


/* 用户显示 */
.user-o{margin-right: -69px;font-size: 0;/* height: 40px; *//* overflow: hidden; */}
.user-o:hover{margin-right: 0;}
.user-o i{cursor: pointer;display: inline-block;font-size: 14px;line-height: 50px;padding: 0 12px;/* margin-left: 5px; */font-style: normal;}



/* 搜索样式 */
.m-search{
    width: 225px;
    padding: 0 10px;
    overflow: hidden;
    margin-top: 10px;
}
.m-search h2{border-bottom: 1px solid #fff;margin: 5px 0 10px 0;padding: 2px 0;font-weight: 200;position: relative;}
.m-search h2 a{font-size:13px;position: absolute;color: #fff;right: 0;bottom: 3px;cursor: pointer;}
.m-search .checkeds a{color: #fff;display: inline-block;padding: 0 4px;margin: 0 4px 5px 0;background: #2980b9;border-radius: 4px;line-height: 20px;/* box-shadow: 0px 0px 0px 0 #000; */cursor: pointer;}
.m-search .checkeds a.selected{/* box-shadow: 0px 0px 1px 0px #000; */background: #3498db;}

.search-input{position: relative;}
.search-input input{border-radius: 4px;width: 215px;border: none;padding: 6px 5px;}
.search-input i{position: absolute;color: #3498db;float: right;right: 0;padding: 0 5px;top: 0;line-height: 24px;cursor: pointer;}

/* 房间块样式*/
.room{width: 338px;height: 251px;display: inline-block;background: #fff;margin: 10px 0px 10px 10px;overflow: hidden;}
.room:hover{box-shadow: 0 0 15px -4px #000; }
.room table{table-layout:fixed ; width:100%;}
.room tr td+td{width: 30%;}
.room .ellipsis{padding: 0 5px;}
.room .photo{width: 100%;position: relative;display: table-cell;}
.room .photo img{width: 100%;height: 100%;overflow: hidden;-webkit-filter: blur(0px);}
/*.room:hover .photo img{-webkit-filter: blur(5px); -moz-filter: blur(5px); -ms-filter: blur(5px); -o-filter: blur(5px); filter: blur(5px); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);   }*/
/* 播放图标 */
.room .photo .pla-name{position: absolute;top: 0;right: 0;color: #fff;font-size: 13px;line-height: 18px;padding: 0 4px;text-shadow: 0 0 8px #000;border: 1px solid #fff;border-radius: 4px;margin: 5px;opacity: 0.5;}
/*.room .photo .play:before{font-size: 77px;display: inline-block;width: 30%;text-align: center;left: 35%;line-height: 100%;height: 50%;top: -50%}*/
.room .photo .play{position: absolute;display: inline-block;font-size: 77px;width: 30%;text-align: center;left: 35%;line-height: 100%;height: 50%;top: -78px;color: #7f8c8d;text-shadow: 0 0 0 #000;/* overflow: hidden; */}
.room .photo .play.insert{color: #fff;text-shadow: 0 0 20px #000;}
.room:hover .photo .play{top: 25%;/* overflow: visible */text-shadow: 0 0 10px #000;}
.room .title{font-size: 14px;}
.room .tag{color: #f60;}
.room .bottom{color: #797979;height: 20px;}
.room .bottom td{padding-bottom:5px}
.room .bottom .fa{font-size: 15px;color: #52c3dd;margin-right: 3px;}
.room .bottom .fa.fa-heart{color:#c0392b}
.room .top{height: 25px;}
.room.off-line img{filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}

.show-params{
    border-bottom: 1px solid #ddd;
    color: #313131;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin: 12px 0;
    margin-left: 10px;
}
.show-params .fa{margin-right: 10px;color: #3498db;line-height: 40px;border-bottom: 1px solid #3498db;margin-bottom: -1px;}
.show-params span{
    line-height: 40px;
    display: inline-block;
}
.show-params span+span:before{content: '>';margin-right: 6px;}

/* 分页样式 */
.t-pagination{width:100%;text-align: center;line-height: 20px;color: #7f7f7f;}
.t-pagination .page{display: inline-block;border: 1px solid #7f7f7f;width: 36px;border-radius: 3px;margin: 5px;font-size: 12px;cursor: pointer;}
.t-pagination .page:hover{border-color: #000; color: #000}
.t-pagination .pre,.t-pagination .next{width: auto;padding: 0 10px;}
.t-pagination .current,.t-pagination .current:hover{background: #000; color: #fff; border-color: #000; cursor: default}
.t-pagination .page.disable, .t-pagination .page.disable:hover{border-color: #ccc;color: #ccc;cursor: default;}

.detail-view{width: 100%; height: 100%;}
.r-detail, .r-detail>*{position: absolute;width: 100%;height: 100%;top: 0;left: 0;overflow: hidden;background: rgba(0,0,0,0.6);}
.r-detail .back-img{}
.r-detail .d-content{}
.r-detail .d-content .top{text-align: right;font-size: 24px;width: auto;color: #fff;text-shadow: 0 0 5px #000;padding-right: 15px;line-height: 40px;margin-bottom: -20px;}
.r-detail .d-content .bottom{line-height: 25px; font-size:13px;}
.r-detail .d-content .bottom .fa{font-size: 15px}
.r-detail .d-content .bottom .fa-heart{color: #c0392b;}
.r-detail .d-content .fa:before{padding: 0 5px;}
.r-detail .d-content a{color: #fff}
.r-detail .d-content a.right{float: right}
.r-detail .d-content .cen{margin: 0 auto;color: #fff;text-shadow: 0 0 3px #000;}
.r-detail .d-content .cen h3{margin: 0;line-height: 40px;font-size: 18px;font-weight: 700;position: relative;padding-right: 30%; }
.r-detail .d-content .cen h3 span{position: absolute;right: 0;font-size: 14px;font-weight: 500;}
.r-detail .d-content .bottom{}

.r-detail .d-content-i .fa{position: absolute;color: #fff;font-size: 20px;cursor: pointer;text-shadow: 0 0 6px #000;}
.r-detail .d-content-i .fa.heart{left: 8px;bottom: 8px;}
.r-detail .d-content-i .fa.fa-heart{color: #c0392b}
.r-detail .d-content-i .fa.fa-close{top: 5px;right: 22px;}
.r-detail .d-content-i .fa.fa-level-up{bottom: 5px;right: 22px;}

/* 弹出窗口*/
.show-window{position: absolute;top: 50%;left: 50%;background: #fff;border-radius: 4px;box-shadow: 0 0 7px 0 #000;}
.show-window>.close{position: absolute; right: 10px; top: 10px; cursor: pointer}
.show-window>.close:hover{color: #52c3dd}

/* 登录页面 */
.login{width: 279px;/* height: 224px; */padding: 20px 20px 40px 20px;}
.login h2{ }
.login input[type='text'],.login input[type='password']{ width: 96%; margin-bottom: 20px; height: 30px; border-radius: 4px; border: 1px solid #ccc; padding: 0 2%;  }
.login label{vertical-align:middle;line-height: 30px;margin-top: -14px;display: block;}
.login input{vertical-align:middle;}
.login button{ width: 100%; border: 0; height: 30px; background: #52c3dd; color: #fff; font-size: 15px;/* font-weight: bold; */  }

.cur-user{margin-top: -55px;font-size: 14px;font-weight: 500;}
/*.cur-user>div{float: left;}*/
.cur-user a{cursor: pointer;margin: 0 10px;vertical-align: middle;color: #fff;}
.cur-user a i{margin-right: 5px;}
.login-user{margin-top: 0px;}




/* 收藏的房间样式 */
.room2{display: inline-block;width: 225px;height: 126px;position: relative;margin-bottom: 10px;border-radius: 4px;overflow: hidden;box-shadow: 0 0 5px 0 #000;}
.room2 img{width: 100%; height: 100%;}
.room2>span{position: absolute;color: #fff;padding: 1% 2%;}

.room2>span.top{top:0;box-shadow: 0 36px 36px -36px #000 inset;}
.room2>span.bottom{bottom: 0;box-shadow: 0 -36px 36px -36px #000 inset;}
.room2>span.pla-name{width: 26%;right: 0;text-align: right;}
.room2>span.anchor{width: 66%;left: 0;}
.room2>span.room-name{width: 66%;left: 0;}
.room2>span.num{width: 26%;right: 0;text-align: right;}

/* 更多分类 */
.types{position: absolute;width: 96%;height: 100%;overflow-y: auto;padding: 0 2%;top: 0;left: 0;background: #fff;}
.types .show-params{margin-left: 0}
.types .t a{display: inline-block;width: 86px;text-align: center;background: #2980b9;margin: 0 17px 15px 0;height: 100px;vertical-align: top;font-size: 17px;padding: 5px;color: #fff;border-radius: 2px;}
.types .t a span{width: 100%;display: inline-block;line-height: 44px;}
.types .t a span.min{font-size:12px;line-height: 20px;}

.collect{position: absolute;width: 100%;height: 100%;background: #F2F2F2;top: 0;left: 0;/* padding-left: 10px; */overflow-y: auto;}

/* 我的关注-登录 */
.collect-login,.collect-login a{color: #fff; text-align: center;}
.collect-login a{margin: 0 10px; cursor: pointer}

.show-tit{font-weight: 500;text-align: center;}

/* 底部icp */
.icp{line-height: 30px;text-align: center;margin-top: 20px;background: #3f3f3f;color: #979797;}
.icp a{color: #979797;}



