<!-- 登录页面 -->
<div class="login" ng-controller="login">
    <h2>登录</h2>
    <div>
        <form ng-submit="loginSubmit($event)">
            <input type="text" ng-model="login.name" placeholder="请输入账户名称"/><br/>
            <input type="password" ng-model="login.password" placeholder="请输入密码"/><br/>
            <label><input name="keep" type="checkbox" value="true" ng-model="login.keep" checked/>记住登录状态</label>
            <button type="submit">登录</button>
        </form>
    </div>
    <div style="text-align: right; margin-top:10px;"><a href="javascript:;" ng-click="$root.windows.close(curWindow);$root.register()">还没有账号,点击注册</a></div>

</div>